<div class="container home">
  <div class="row home__row">
    <div class="col home__row__imgs">
      <div class="home__row__imgs__img home__row__imgs__img--1"></div>
      <div class="home__row__imgs__img home__row__imgs__img--2"></div>
    </div>
    <div class="col home__row__text">
      <span>אהבה</span>

      <span>שמחה</span>

      <span>חיוכים</span>

      <span>כייף</span>

      <span>אלו הדברים שמובילים את חיי</span>

      <span>אני תומר – צלם וידאו תיעודי</span>

      <span>אני אוהב ליצור זיכרונות מיוחדים ואותנטיים</span>

      <span>העיניים הם הכלי שלי – הזיכרון הוא היצירה</span>

      <span>רגש, תנועה ואור הם הדברים שמובילים את הצילום שלי </span>

      <span>אוירה טובה היא אחד הדברים שהכי חשובים לי במהלך יום החתונה שלכם – אני יודע להיות רועש, שקט, משתלט וגם כתמונה
        על
        הקיר – כל מה שצריך כדי שהיום שלכם יהיה תואם לאופי שלכם</span>
    </div>
  </div>
</div>