$breakpoint-tablet: 780px;
$breakpoint-widescreen: 1500px;

// colors:

$color-main: #faf6f3;
$color-light-grey: #F3F3F3;
$color-white: #FFFFFF;
$color-greyish: #B2B1B0;
$color-dark: #76726F;
$color-dark-active: #8C8885;

$color-boxshaow: #b2b1b04d;

$color-home: #9D7A70;